
@font-face {
  font-family: "Poppins-Regular";   /*Can be any text*/
  src: local("Poppins-Regular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
}

html {
  color: white;
  background-color: black;
  font-family: "Poppins-Regular", sans-serif;
  text-align: center;
}
